/* style.css */
.clipboard-row {
    background-color: #2b2b2b;
    border-radius: 10px;
    padding: 10px;
    margin: 6px;
    border: 1px solid #cccccc;
}

.clipboard-row:hover {
    background-color: #3a3a3a;
}

button {
    background-color: #2b2b2b;
    border: none;
    color: white;
}

button:hover {
    background-color: #ff4c4c;
    color: white;
}
